<nav class="uk-navbar-container uk-background-default" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/patient">Patients</a></li>
            <li><a href="/facture">Factures</a></li>
        </ul>
    </div>
</nav>