<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicineWebApp</title>
  <script src="https://kit.fontawesome.com/ae7adf6d8c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../stylesheets/owl/owl.carousel.min.css">
  <link rel="stylesheet" href="../stylesheets/owl/owl.theme.default.min.css">
  <link rel="stylesheet" href="../stylesheets/index.css">
  <link rel="icon" type="image/ico" href="../images/favicon2.ico">
</head>
<body>
  <section id="landing">
    <div id="overlay">
      <header>
        <h1>MedicineWebApp</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/how-it-work">How it work</a></li>
            <li><a href="/login">Sign in</a></li>
          </ul>
        </nav>
      </header>
      <div>
        <h1>The most important tool for you</h1>
        <p>stop waste time and use it now !</p>
        <a href="/start">Getting started</a>
      </div>
    </div>
  </section>
  <section id="overview">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="item"><img src="../images/slide.jpg"></div>
      <div class="item"><img src="../images/slide.jpg"></div>
      <div class="item"><img src="../images/slide.jpg"></div>
    </div>
  </section>
  <section id="app_car">
    <div id="items_container">
      <div class="item">
        <i class="fas fa-globe-europe"></i>
        <h3>Access from everywhere</h3>
        <p>Some long and boring description that no one will read</p>
      </div>
      <div class="item">
        <i class="fas fa-sitemap"></i>
        <h3>Your way of working</h3>
        <p>Some long and boring description that no one will read</p>
      </div>
      <div class="item">
        <i class="fas fa-sliders-h"></i>
        <h3>Easy to use</h3>
        <p>Some long and boring description that no one will read</p>
      </div>
    </div>
  </section>
  <section id="pricing">
    <h1>Pricing</h1>
    <div id="prices_container">
      <div class="price_item">
        <h2>Free</h2>
        <div class="price">
          <span class="number">0</span> <br>
          <span class="small">for 15 days</span>
        </div>
        <p>Some long and boring description that no one will read. Some long and boring description that no one will read</p>
        <a href="#">I choose you</a>
      </div>
      <div class="price_item">
        <h2>Pro</h2>
        <div class="price">
          <span class="number">5</span> <br>
          <span class="small">per month</span>
        </div>
        <p>Some long and boring description that no one will read. Some long and boring description that no one will read</p>
        <a href="#">I choose you</a>
      </div>
    </div>
  </section>
  <footer>

  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../javascripts/owl/owl.carousel.min.js"></script>
  <script src="../javascripts/index.js"></script>
</body>
</html>
