<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicineWebApp</title>
  <link rel="stylesheet" href="../stylesheets/index.css">
  <link rel="icon" type="image/ico" href="../images/favicon2.ico">
</head>
<body>
  <%- include('header.ejs') %>
 <section id="container">
    <div id="main_info">
      <h4>Subtitle for info</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eius atque. Eius nulla, modi earum delectus minima unde repudiandae praesentium maxime amet autem? Consequatur voluptatibus aliquam harum! Amet, expedita officia?</p>
    </div>
    <div id="main_logo">
      <img src="../images/basil.png" alt=" app logo">
    </div>
  </section>
 <section id="utils">

 </section>
</body>
</html>