<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicineWebApp</title>
  <link rel="stylesheet" href="../stylesheets/index.css">
  <link rel="icon" type="image/ico" href="../images/favicon2.ico">
</head>
<body>
  <section id="landing">
    <div id="overlay">
      <header>
        <h1>MedicineWebApp</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/how-it-work">How it work</a></li>
            <li><a href="/start">Sign in</a></li>
          </ul>
        </nav>
      </header>
      <div>
        <h1>The most important tool for you</h1>
        <p>stop waste time and use it now !</p>
        <a href="/start">Getting started</a>
      </div>
    </div>
  </section>
  <section id="overview">

  </section>
  <script src="../javascripts/index.js"></script>
</body>
</html>
