<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicineWebApp - Vos patients</title>
</head>
<body>
    <%- include('header.ejs') %>

    <h2>Vos patients:</h2>
</body>
</html>