<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicineWebApp - Log in</title>
  <script src="https://kit.fontawesome.com/ae7adf6d8c.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/ico" href="../images/favicon2.ico">
  <link rel="stylesheet" href="../stylesheets/form.css">
</head>
<body>
  <form method="post">
    <h1>Log in</h1>
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" name="loginUser" value="Submit">
  </form>
</body>
</html>
