<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicineWebApp - Sign in</title>
  <script src="https://kit.fontawesome.com/ae7adf6d8c.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/ico" href="../images/favicon2.ico">
  <link rel="stylesheet" href="../stylesheets/form.css">
</head>
<body>
  <form method="post">
    <% if(typeof errors != 'undefined') { %>
      <% errors.forEach(function(error) {%>
        <p><%= error.msg %></p>
      <% }) %>
    <% } %>
    <h1>Register</h1>
    <input type="text" name="nom" placeholder="Last name">
    <input type="text" name="prenom" placeholder="First name">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password2" placeholder="Confirm password">
    <input type="submit" name="registerUser" value="Submit">
    <p>Already have an account ? <a href="/login">Login here</a></p>
  </form>
</body>
</html>
