@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 100%;
}

#landing {
    height: 95vh;
    background: url(../images/landing.jpg) no-repeat 50% 50%;
    position: relative;
    background-size: cover;
    z-index: 1;
}

#landing #overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(25,42,86,0.95);
}

#landing header {
  color: #fff;
  width: 75%;
  min-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

#landing header nav {
  width: 100%;
}

#landing header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#landing header h1 {
  font-size: 20px;
}

#landing header nav ul li {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

#landing header nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 20px 12px;
  letter-spacing: 2px;
}

#landing #overlay div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing #overlay div h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  line-height: 1.3;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0 0 20px 0;
}

#landing #overlay div p {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}

#landing #overlay div a {
  background-color: rgba(0,184,148,1);
  color: #fff;
  text-decoration: none;
  padding: 18px 36px;
  margin: 0 4px 4px 0;
  border-radius: 35px;
}

#overview {
  z-index: 0;
  background-color: #F5F5F5;
  height: 75vh;
  border-bottom: 1px solid #c4c4c4;
}

#overview #carousel {
  position: relative;
  top: -15vh;
  height: 100%;
  width: 50%;
  min-width: 900px;
  margin: 0 auto;
  height: 550px;
}

#overview #carousel .item {
  min-width: 900px;
  height: 550px;

}

#overview #carousel .item img {
  width: 100%;
  height: 100%;
}

#app_car {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

#app_car #items_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#app_car #items_container .item {
  text-align: center;
  width: 300px;
}

#app_car .item i {
  color: #3b58a3;
  font-size: 80px;
  margin-bottom: 30px;
}

#app_car .item h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}

#app_car .item p {
  font-size: 16px;
  display: block;
  line-height: 2;
  color: grey;
  font-weight: 300;
}

#pricing {
  border-top: 1px solid #c4c4c4;
  width: 100%;
  background-color: #F5F5F5;
}

#pricing h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 30px 0;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#pricing #prices_container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

#pricing .price_item {
  text-align: center;
  background-color: #fff;
  padding: 32px 20px 16px 20px;
}

.price_item h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.price_item .number {
  color: #3b58a3;
  font-size: 70px;
  position: relative;
}

.price_item .number::before {
  content: "€";
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: -25px;
}

.price_item .price .small {
  color: grey;
  font-size: 13px;
  margin: 0 0 20px 0;
  display: block;
}

.price_item p {
  display: block;
  width: 230px;
  margin-bottom: 20px;
  line-height: 2;
  color: gray;
  font-weight: 300;
}

.price_item a {
  background-color: #3b58a3;
  text-decoration: none;
  color: #fff;
  padding: 15px 25px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 10px;
}

footer {
  background-color: rgb(25,42,86);
  width: 100%;
  height: 150px;
}
